@import "settings.css";
@import "structure.css";

.masonry-sizer {
  margin-right: var(--structure-gutter)rem;
}

.masonry .bloc {
  border-top-style: solid;
  border-color: var(--color-brand);
  opacity: 0;
}